$tan: rgb(218, 174, 145);
$dark-olive: rgb(93, 61, 42);
$dark-grey: rgb(165, 152, 145);
$black: rgb(34, 33, 29);
$old-rose: rgb(97, 47, 91);


$primary: rgb(232, 208, 46);
$secondary: rgb(62, 57, 27);
$tertiary: rgb(245, 243, 231);
$quarternary: rgb(172, 160, 85);
$quinternary: rgb(252, 227, 51);